//--------------------------------Nav----------------------------------------//
#nav {
	.navbar {
		background: transparent;
		border-bottom: none;
		padding: 50px 40px;
		color: white;
		.navbar-header {
			img {
				height: 300%;
			}
		}
		.navbar-nav {
			li {
				
					.hrPlus {
					border: 1px solid #28c8c6;
					visibility: hidden;
						margin-top: 5px;
				}
				&:hover {
						
						.hrPlus {
							visibility: visible;
						}
						
					&:last-child {
					background: #c17ce8;
					}
				}
				a {
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: bold;
					
				}
				&:last-child {
					background: #a100ff;
					border-radius: 5px;
					padding: 0 10px;
					img {
						margin-left: 10px;
					}
				}
			
			}
		}
	}
}
//-------------------------------//Nav---------------------------------------//

//--------------------------------Header----------------------------------------//
#header{
	background: url(/image/Rectangle%202.png) no-repeat center center;
	background-size: cover;
	height: 100vh;
	
}
//-------------------------------//Header---------------------------------------//

//--------------------------------Logo----------------------------------------//
//-------------------------------//Logo---------------------------------------//

//--------------------------------Features----------------------------------------//
//-------------------------------//Features---------------------------------------//

//--------------------------------Guidelines----------------------------------------//
//-------------------------------//Guidelines---------------------------------------//

//--------------------------------Picture----------------------------------------//
//-------------------------------//Picture---------------------------------------//

//--------------------------------Footer----------------------------------------//
//-------------------------------//Footer---------------------------------------//

//--------------------------------Others----------------------------------------//
//-------------------------------//Others---------------------------------------//